.resume{
    text-align: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
    font-size: 2rem;
    font-weight: 500;
}
#resumeButton{
    margin: auto;
    width: 10rem;
    font-family: "Arial", sans-serif;
    font-size: 1.5rem;
    color: #3e497a;
    border-radius: 10px;
    font-weight: bold;
}